include navbar.pug
.bg-light.pt-5.pb-5
  .bg-light
    .row
      #tb.container.table-responsive
        table.table.table-bordered.table-hover
          thead(style='background-color: #cd5c5c; color: #f0f0f0;')
            tr
              th(scope='col') Specification
              th(scope='col') RequiredAt
              th(scope='col') PricePerUnit
              th(scope='col') NoOfUnits
              th(scope='col') Total
              th(scope='col') PurchasedQuantity
              th(scope='col') PriceInLakhs
              th(scope='col') BoughtFor     
              th(scope='col') Status            
          tbody
            if hardwaredesign
              for item in hardwaredesign
                tr
                  th(scope='row') #{item.Specification}
                  td #{item.RequiredAt}
                  td #{item.PricePerUnit}
                  td #{item.NoOfUnits}
                  td #{item.Total}
                  td #{item.PurchasedQuantity}
                  td #{item.PriceInLakhs}
                  td #{item.BoughtFor}
                  td #{item.Status}             
include footer.pug