include navbar.pug
.bg-light.pt-5.pb-5
  .bg-light
    .container.pl-2
      .container
          .container
            h3.pb-2.pr-2
              b Hardware Design List
              i.fa.fa-plus(style='font-size:24px; float: right; margin-left: -50%;')
      #tb.container.table-responsive
        
        table.container-fluid.table.table-bordered.table-hover
          thead(style='background-color: #A93434; color: #f0f0f0;')
            tr
              th(scope='col') Specification
              th(scope='col') RequiredAt
              th(scope='col') PricePerUnit
              th(scope='col') NoOfUnits
              th(scope='col') Total
              th(scope='col') PurchasedQuantity
              th(scope='col') PriceInLakhs
              th(scope='col') BoughtFor     
              th(scope='col') Status
              th(scope='col') Edit
              th(scope='col') Delete           
          tbody
            if hardwaredesign
              for item in hardwaredesign
                tr
                  th(scope='row') #{item.Specification}
                  td #{item.RequiredAt}
                  td #{item.PricePerUnit}
                  td #{item.NoOfUnits}
                  td #{item.Total}
                  td #{item.PurchasedQuantity}
                  td #{item.PriceInLakhs}
                  td #{item.BoughtFor}
                  td #{item.Status}
                  td 
                    i.fa.fa-edit
                  td
                    i.fa.fa-trash           
include footer.pug