include navbar.pug
.bg-light.pt-5.pb-5
  .bg-light
    .container.pl-2
      .container
          .container
            h3.pb-2.pr-2
              b Software Design List
              a(href='https://industry-4nsv.herokuapp.com/softwareDesign/add')
                i.fa.fa-plus(style='color:#000; font-size:24px; float: right; margin-left: -50%;')
      #tb.container.table-responsive
        table.table.table-bordered.table-hover
          thead(style='background-color: #A93434; color: #f0f0f0;')
            tr
              th(scope='col') Manufacturer
              th(scope='col') Softwares
              th(scope='col') Quantity
              th(scope='col') price
              th(scope='col') Status
              th(scope='col') Edit
              th(scope='col') Delete           
          tbody
            if softwaredesign
              for item in softwaredesign
                tr
                  td #{item.Manufacturer}
                  td #{item.Softwares}
                  td #{item.Quantity}
                  td #{item.price}
                  td #{item.Status}
                  td 
                    a(href='/softwareDesign/edit/'+ item._id) edit
                  //- td
                  //-   i.fa.fa-trash    
                  td
                    i.fa.fa-trash.delete-article(href='#',data-id=item._id)
                    //- a(class='button delete-todo' data-articleid= item._id href="#") Delete
                    //- button(onclick="document.getElementById('id01').style.display='block'") Open Modal
                    //- #id01.modal
                    //-   span.close(onclick="document.getElementById('id01').style.display='none'" title='Close Modal') &times;
                    //-   form.modal-content(onsubmit='http://localhost:3000/softwareDesign/delete/#{item._id}')
                    //-     .container
                    //-       h1 #{item._id}
                    //-       p Are you sure you want to delete your account?
                    //-       .clearfix
                    //-         button.cancelbtn(type='button') Cancel
                    //-         button.deletebtn(type='button') Delete        
                    //- form(method="DELETE", action='/softwareDesign/delete/'+item._id)
                    //-     .form-row
                    //-         .form-group.col
                    //-             input.form-control(type='text', id=item._id)
                    //-     button.btn.btn-success Delete   
                          

include footer.pug