include navbar.pug
.bg-light.pt-5.pb-5
  .bg-light
    .container.pl-2
      .container
          .container
            h3.pb-2.pr-2
              b Software MES List  | Total price (in Rupees): #{total}
              
              a(href='https://industry-4nsv.herokuapp.com/softwareMES/add')
                i.fa.fa-plus(style='color:#000; font-size:24px; float: right; margin-left: -50%;')
      #tb.container.table-responsive
        table.table.table-bordered.table-hover
          thead(style='background-color: #A93434; color: #f0f0f0;')
            tr
              th(scope='col') Softwares
              th(scope='col') Quantity
              th(scope='col') Price
              th(scope='col') Order
              th(scope='col') Edit
              th(scope='col') Delete             
          tbody
            if softwareMes
              for item in softwareMes
                tr
                  td #{item.Softwares}
                  td #{item.Quantity}
                  td #{item.Price}
                  td #{item.Order}
                  td 
                    a(href='/softwareMES/edit/'+ item._id)
                      i.fa.fa-edit(style='color:#000;')
                  td
                    a(href='#',data-id=item._id)  
                      i.fa.fa-trash.delete-article2(style='color:#000;')        
include footer.pug