include navbar.pug
.bg-light.pt-5.pb-5
  .bg-light
    .row
      #tb.container.table-responsive
        table.table.table-bordered.table-hover
          thead(style='background-color: #cd5c5c; color: #f0f0f0;')
            tr
              th(scope='col') Manufacturer
              th(scope='col') Softwares
              th(scope='col') Quantity
              th(scope='col') price
              th(scope='col') Status            
          tbody
            if softwaredesign
              for item in softwaredesign
                tr
                  td #{item.Manufacturer}
                  td #{item.Softwares}
                  td #{item.Quantity}
                  td #{item.price}
                  td #{item.Status}           
include footer.pug